<%- include('partials/_navbar') %>
<main>
<form class="search_form" method="POST" action="/search">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    
    <label for="name">Name:</label>
    <input type="text" id="name" name="author" required>
    <% errors.forEach( error=> {%>
        <% if ( error.path === 'author') {%>
            <span style="color:red;"><%= error.msg %></span>
        <% } %>
    <% }); %>
    <button type="submit">Search</button>
</form>


<% if (Quotes.length > 0) { %>
<div class="quotes-container">
    <% Quotes.forEach(quote => { %>
        <div class="quote">
            <div class="quote-text"><p>"<%= quote.quote %>"</p></div>
            <div class="author">- <%= quote.author %></div>
        </div>

    <% });%>
    </div>
<% }else{ %>
    <div class="result">No quotes available. Be the first to <a href="/share">share a quote</a>!</div>
<% } %>
</main>
<%- include('partials/_footer') %>
